* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 30px;
}
/* navigation bar */
.navbar {
    background-color: #1f2937;
    height: 70px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar h1 {
    font-size: 24px;
    color: #f9faf8;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
}

/* header */
.header {
    background-color: #1f2937;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
}

.header .hero h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px 30px 20px 0px;
}

.header .hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.header img {
    max-width: 300px;
    margin-left: 30px;
}

.header .button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

/* section */
.section .container {
    padding: 10px 60px;
    margin-bottom: 60px;
}

.section h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin: 30px;
}

.section .group {
    display: flex;
    justify-content: space-between;
}

.section .insights {
    max-width: 300px;
}

.section img {
    max-width: 300px;
}

/* article */
.article  {
    background-color: #e5e7eb;
}

.article .container {
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
}

.article p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.article h2 {
    align-self: flex-end;
    padding: 20px;
}

/* contact me */
.contact {
    justify-content: space-between;
}
/* footer */
.footer {
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}